.banner {
  background-image: url(assets/home-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 440px;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.banner-content {
  padding-bottom: 50px;
}
.menu {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  right: 20px;
  top: 20px;
  position: absolute;
}
.menu ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
.menu ul li button {
  border: none;
  background: #2f6ce5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 30px;
  border-radius: 25px;
}
@media (max-width: 767px) {
  .banner {
    height: 236px;
  }
  .banner-content {
    padding-bottom: 20px;
  }
}
