.blog-post {
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  border-radius: 4px;
}
.blog-post .blog-img img {
  height: 220px;
}
.blog-detail {
  padding: 20px;
}
.blog-detail .category h3 {
  font-size: 18px;
}
.blog-detail .blog-info h2 {
  font-size: 22px;
}
.blog-detail .blog-info p {
  color: #5c5c5c;
}
.blog-detail .blog-info .visit-website {
  background: #ffffff;
  border: 0.7px solid #a9aeb8;
  border-radius: 8px;
  margin: 15px 0 20px 0;
}
.blog-detail .blog-info .visit-website button {
  border: none;
  color: #e56135;
  background-color: white;
  padding: 5px;
}
.blog-detail .blog-info .visit-website .apply-btn {
  color: #02b875;
}
.author-info .author-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.author-info .author-name {
  font-family: "IBM Plex Sans";
  font-weight: 600;
  font-size: 18px;
  color: black;
}
.author-info .share {
  background: #edeef0;
  border-radius: 2px;
  width: 42px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.author-info .post-views {
  font-size: 14px;
  font-weight: 500;
  color: #525252;
}
.author-info svg {
  color: #525252;
}
@media (max-width: 767px) {
  .blog-detail .category h3 {
    font-size: 14px;
  }
  .blog-detail .blog-info h2 {
    font-size: 16px;
  }
  .blog-post .blog-img img {
    height: 120px;
  }
}
