.blog-navbar {
  border-bottom: 1px solid #e0e0e0;
}
.blog-menu ul {
  padding-left: 0;
}
.blog-menu ul li {
  list-style-type: none;
}
.blog-menu ul li a {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #8a8a8a;
  text-decoration: none;
}
.blog-menu ul li:first-child {
  border-bottom: 2px solid #000000;
}
.blog-menu ul li .active {
  color: #000000;
}
.write-post-btn {
  background: #edeef0;
  border-radius: 4px;
  color: #000000;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 15px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.join-group-btn {
  background: #2f6ce5;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 15px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
